.ipynb_checkpoints/
.jupyter/
*.ipynb
**/.ipynb_checkpoints/
.DS_Store
BackEnd/.DS_Store
FrontEnd/.DS_Store

.vscode/

Scheduler/*
docker-compose.scheduler.yml

Secrets/*
!Secrets/.gitignore
!Secrets/*.example